<div class="modal modal--service" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal__tit">
                    <h2>Описание услуги</h2>
                </div>
                <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.335202 10.0462C-0.111734 10.4931 -0.111734 11.2178 0.335202 11.6647C0.782139 12.1116 1.50677 12.1116 1.9537 11.6647L6.00004 7.61836L10.0465 11.6648C10.4935 12.1118 11.2181 12.1118 11.665 11.6648C12.112 11.2179 12.112 10.4933 11.665 10.0463L7.61854 5.99986L11.6647 1.9537C12.1116 1.50676 12.1116 0.782138 11.6647 0.335202C11.2178 -0.111734 10.4931 -0.111734 10.0462 0.335202L6.00004 4.38136L1.95403 0.335356C1.5071 -0.11158 0.78247 -0.11158 0.335534 0.335356C-0.111403 0.782292 -0.111403 1.50692 0.335533 1.95385L4.38154 5.99986L0.335202 10.0462Z" fill="#7874FE"></path>
                    </svg>
                </button>
            </div>

            <div class="modal-body">
                <div class="modal--service__item">
                    <div class="tit">Среднее время выполнения:</div>
                    <p>1 ч.30 мин.</p>
                </div>
                <div class="modal--service__item">
                    <div class="tit">Описание услуги:</div>
                    <p>Подписчики со всех стран с минимальным шансом списания. Высокая скорость.</p>
                </div>
                <div class="modal--service__item mb-0">
                    <ul>
                        <li>
                            <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt="" /></div>
                            <p>Наш сервис</p>
                        </li>
                        <li>
                            <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt="" /></div>
                            <p>Боты</p>
                        </li>
                        <li>
                            <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt="" /></div>
                            <p>Скорость 50к в сутки</p>
                        </li>
                        <li>
                            <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt="" /></div>
                            <p>Быстрый старт</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>