<section class="main-banner">
    <div class="container">
        <div class="main-banner__row">
            <div class="main-banner__description">
                <div class="benefits main-banner__benefits">
                    <div class="benefits__item img"><img src="../img/ico/benefits.svg" alt=""/></div>
                    <div class="benefits__item">Качественно</div>
                    <div class="benefits__item">Быстро</div>
                    <div class="benefits__item">Надёжно</div>
                </div>

                <div class="text">
                    <h1 class="h-bg">Раскрутка и продвижение в&nbsp;социальных сетях</h1>
                    <p>Smmsphere - это сервис раскрутки всех популярных соц. сетей и мессенджеров. Получайте подписчиков, лайки, репосты и многое другое за пару кликов и по доступным ценам.</p>
                    <div class="flex gap-40">
                        <a href="#" class="btn">Начать</a>
                        <a href="#quick-order" class="btn--quick-order anchor"><img src="../img/ico/play.svg" alt=""/>Быстрый заказ</a>
                    </div>
                </div>
            </div>

            <div class="main-banner__img img"><img src="../img/banner.svg" alt=""/></div>
        </div>
    </div>
</section>