<div class="admin-services__about">
    <div class="title">
        <h2>Об услуге</h2>
    </div>

    <div class="admin-services__body">
        <div class="admin-services__items">
            <div class="item">
                <div class="title">Среднее время выполнения:</div>
                <p>1 ч.30 мин.</p>
            </div>
            <div class="item">
                <div class="title">Описание услуги:</div>
                <p>Подписчики со всех стран с минимальным шансом списания. Высокая скорость.</p>
            </div>
        </div>
        <div class="item mb-0">
            <ul>
                <li>
                    <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt=""></div>
                    <p>Наш сервис</p>
                </li>
                <li>
                    <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt=""></div>
                    <p>Боты</p>
                </li>
                <li>
                    <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt=""></div>
                    <p>Скорость 50к в сутки</p>
                </li>
                <li>
                    <div class="img arrow-check"><img src="../img/ico/arrow-check.svg" alt=""></div>
                    <p>Быстрый старт</p>
                </li>
            </ul>
        </div>
    </div>
</div>