<aside class="admin-aside">
    <div class="admin-aside__header">
        @@include('header.html')
    </div>

    <div class="admin-aside__btn">
        <a href="#" class="btn">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.0008 3.22183V18.7782" stroke="white" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M3.22266 11H18.779" stroke="white" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            Создать заказ
        </a>
    </div>

    <div class="admin-aside__body">
        @@include('admin-menu.html')
    </div>

    <div class="admin-aside__footer">
        <a href="#" class="exit-link admin-menu__link">
            <span class="img"><img src="../img/admin-menu/logout.svg" alt="" /></span>
            <span class="tit">Выход</span>
        </a>
    </div>
</aside>