<nav class="admin-menu">
    <ul class="admin-menu__list">
        <li class="admin-menu__item">
            <a class="admin-menu__link active" href="#">
                <span class="img"><img src="../img/admin-menu/orders.svg" alt="" /></span>
                <span class="tit">Мои заказы</span>
            </a>
        </li>
        <li class="admin-menu__item">
            <a class="admin-menu__link" href="#">
                <span class="img"><img src="../img/admin-menu/balance.svg" alt="" /></span>
                <span class="tit">Пополнить баланс</span>
            </a>
        </li>
        <li class="admin-menu__item">
            <a class="admin-menu__link" href="#">
                <span class="img"><img src="../img/admin-menu/partner.svg" alt="" /></span>
                <span class="tit">Партнёрская программа</span>
            </a>
        </li>
        <li class="admin-menu__item menu-dropdown">
            <div class="admin-menu__link menu-dropdown__btn">
                <span class="img"><img src="../img/admin-menu/categories.svg" alt="" /></span>
                <span class="tit">Категории услуг</span>

                <div class="arrow">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.49711 0.837602C9.72492 1.06541 9.72492 1.43475 9.49711 1.66256L5.41378 5.74589C5.18598 5.9737 4.81663 5.9737 4.58882 5.74589L0.505491 1.66256C0.277685 1.43475 0.277685 1.06541 0.505491 0.837602C0.733297 0.609797 1.10264 0.609797 1.33045 0.837602L5.0013 4.50846L8.67216 0.837602C8.89996 0.609797 9.26931 0.609797 9.49711 0.837602Z"
                            fill="#8181A5" />
                    </svg>
                </div>
            </div>
            <div class="menu-dropdown__body">
                <ul class="menu-dropdown__list">
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/instagram.svg" alt=""></span>
                            <span class="tit">Instagram</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/telegram.svg" alt=""></span>
                            <span class="tit">Telegram</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/twitch.svg" alt=""></span>
                            <span class="tit">Twitch</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/twitter.svg" alt=""></span>
                            <span class="tit">Twitter</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/youTube.svg" alt=""></span>
                            <span class="tit">YouTube</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/tumblr.svg" alt=""></span>
                            <span class="tit">Tumblr</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/discord.svg" alt=""></span>
                            <span class="tit">Discord</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/vkontakte.svg" alt=""></span>
                            <span class="tit">Vkontakte</span>
                        </a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a href="#" class="menu-dropdown__link">
                            <span class="img"><img src="../img/platform-ico/snapchat.svg" alt=""></span>
                            <span class="tit">Snapchat</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="admin-menu__item">
            <a class="admin-menu__link" href="#">
                <span class="img"><img src="../img/admin-menu/chat.svg" alt="" /></span>
                <span class="tit">Чат с тех. поддержкой</span>
            </a>
        </li>

    </ul>
</nav>