<tr class="tr-body">
    <td>
        <div class="table-tit">Новости и предложения</div>
    </td>
    <td>
        <div class="admin-checkbox">
            <input type="checkbox" name="n-message" checked="">
            <span class="admin-checkbox-mark"></span>
        </div>
    </td>
    <td>
        <div class="admin-checkbox">
            <input type="checkbox" name="n-mail">
            <span class="admin-checkbox-mark"></span>
        </div>
    </td>
    <td>
        <div class="admin-checkbox">
            <input type="checkbox" name="n-push">
            <span class="admin-checkbox-mark"></span>
        </div>
    </td>
</tr>

<tr class="td-spacer"></tr>