<div class="order-data">
    <div class="order-data__header">
        <div class="admin-tit">
            <div class="img"><img src="../img/ico/order.svg" alt=""></div>
            <h3>Данные о заказе</h3>
        </div>

        <a href="#" class="btn-edit tooltip">
            <div class="img"><img src="../img/ico/edit.svg" alt=""></div>
            <div class="tooltiptext">Изменить</div>
        </a>
    </div>

    <div class="order-data__info">
        <div class="item">
            <div class="title">Тариф:</div>
            <p>Подписчики “Супер-Эконом”</p>
        </div>
        <div class="item">
            <div class="title">Количество:</div>
            <p>100 шт.</p>
        </div>
        <div class="item">
            <div class="title">Цена:</div>
            <p>23 руб.</p>
        </div>
        <div class="item">
            <div class="title">Ссылка:</div>
            <p>https://www.instagram.com/instasamka/</p>
        </div>
    </div>

    <div class="form-group form-group--outline">
        <label>Укажите Email</label>
        <input class="form-control" type="text" placeholder="Укажите Email">
    </div>

    <div class="order-data__payment-method payment-method">
        <div class="admin-tit">
            <div class="img"><img src="../img/ico/card.svg" alt=""></div>
            <h3>Способ оплаты</h3>
        </div>
        <div class="payment-method__list">
            <div class="payment-method__radio">
                <input type="radio" id="r-card" name="paymentMethod" checked="">
                <label for="r-card" class="method">
                    <span class="img"><img src="../img/payment-method/credit-card.svg" alt=""></span>
                    <div class="info">
                        <span class="tit">Банковская карта</span>
                        <p>Комиссия 0%</p>
                    </div>
                </label>
                <span class="radio-mark"></span>
            </div>
            <div class="payment-method__radio">
                <input type="radio" id="r-iomoney" name="paymentMethod">
                <label for="r-iomoney" class="method">
                    <span class="img"><img src="../img/payment-method/iomoney.svg" alt=""></span>
                    <div class="info">
                        <span class="tit">ЮMoney</span>
                        <p>Комиссия 0%</p>
                    </div>
                </label>
                <span class="radio-mark"></span>
            </div>
            <div class="payment-method__radio">
                <input type="radio" id="r-qiwi" name="paymentMethod">
                <label for="r-qiwi" class="method">
                    <span class="img"><img src="../img/payment-method/qiwi.svg" alt=""></span>
                    <div class="info">
                        <span class="tit">QIWI</span>
                        <p>Комиссия 0%</p>
                    </div>
                </label>
                <span class="radio-mark"></span>
            </div>
            <div class="payment-method__radio">
                <input type="radio" id="r-bank" name="paymentMethod">
                <label for="r-bank" class="method">
                    <span class="img"><img src="../img/payment-method/bank.svg" alt=""></span>
                    <div class="info">
                        <span class="tit">СберPay</span>
                        <p>Комиссия 0%</p>
                    </div>
                </label>
                <span class="radio-mark"></span>
            </div>

            <div class="payment-method__radio">
                <input type="radio" id="r-bank" name="paymentMethod">
                <label for="r-bank" class="method">
                    <span class="img"><img src="../img/payment-method/webMoney.svg" alt=""></span>
                    <div class="info">
                        <span class="tit">WebMoney</span>
                        <p>Комиссия 0%</p>
                    </div>
                </label>
                <span class="radio-mark"></span>
            </div>
            
        </div>
    </div>

    <button type="button" class="btn form-btn">Оплатить 23 ₽</button>
</div>