<section class="text-page inside-page">
    <div class="container">
        <div class="text-page__item">
            <div class="text-center">
                <h1>Лицензионный договор-ферта</h1>
            </div>
            <p>Администрация сервиса https://smmsphere.com, с одной стороны, и юридическое или физическое лицо,
                именуемое в дальнейшем «Пользователь», с другой стороны, совместно именуемые «Стороны», заключили
                настоящий Договор о нижеследующем:</p>
        </div>

        <div class="text-page__item">
            <div class="text-center">
                <h2>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h2>
            </div>
            <p>Оферта - публичное предложение Продавца, адресованное любому лицу, заключить с ним лицензионный договор
                (далее — Договор) на существующих условиях, содержащихся в Договоре.</p>

            <p>Акцепт — полное и безоговорочное принятие Лицензиатом условий Договора</p>

            <p>Администрация сайта — ИП ......., ОГРНИП 12345678899, ИНН 123456789.</p>

            <p>Пользователь — любое физическое или юридическое лицо, принявшее условия настоящей оферты и/или
                пользующееся сайтом.</p>

            <p>Сайт — Интернет-ресурс, представляющий собой совокупность веб-страниц, доступных Пользователям в адресном
                пространстве https://smmsphere.com, принадлежащий Администрации сайта, посредством которого
                осуществляется доступ к функционалу Сайта.</p>

            <p>Информационная система — система хранения, обработки, преобразования, передачи, обновления информации в
                сети Интернет с использованием компьютерной техники (далее — серверов).</p>

            <p>Учетная запись - персональный идентификатор Пользователя, закрепляемый за ним посредством регистрации.
                Для регистрации Пользователь предоставляет информацию, требования к предоставлению которой указаны в
                регистрационных полях на Сайте.</p>

            <p>Регистрация — осуществление процедуры создания Учетной записи в Сервисе, в результате которой
                Пользователь получает сведения об имени пользователя и пароле, необходимых для использования Сервиса.
                Один пользователь может создать только одну учетную запись. В случае выявления факта создания более
                одной учетной записи, Лицензиар имеет право удалить их без предупреждения.</p>

            <p>Имя пользователя – уникальная комбинация букв, цифр, символов, присваиваемая, присваиваемое Пользователю
                во время Регистрации и используемое им при осуществлении авторизации в Сервисе.</p>

            <p>Пароль — комбинация букв, цифр, символов, присваиваемых Пользователю при Регистрации, ввод которого
                требуется Пользователю для осуществления авторизации в Сервисе.</p>

            <p>Личный кабинет — персонализированный веб-интерфейс Сайта для доступа Пользователя к функционалу Сайта.
            </p>

            <p>Продвижение — увеличение различных числовых показателей.</p>

            <p>Лайк — это условное выражение одобрения материалу, пользователю, фотографии, записи, выражающиеся
                нажатием одной кнопки в социальных сетях.</p>

            <p>Репост — это копирования записи к себе на страницу в социальной сети, а также сама скопированная запись
                или новость.</p>

            <p>Подписчик — это пользователь, который подписан на профиль, сообщество Заказчика в социальной сети.
            </p>
        </div>

        <div class="text-page__item">
            <div class="text-center">
                <h2>2. Предмет договора</h2>
            </div>
            <p>2.1. Настоящее Соглашение определяет условия использования Пользователем Сайта.</p>

            <p>2.2. Настоящее Соглашение является публичной офертой (предложением), в соответствии со ст. 435, 437
                Гражданского Кодекса Российской Федерации (далее – ГК РФ).</p>

            <p>2.3. Полным и безоговорочным принятием (акцептом) настоящей оферты в соответствии со статьей 438
                Гражданского кодекса Российской Федерации являются любые действия по выполнению указанных в данной
                оферте условий, в том числе регистрация Учетной записи, использование функционала Сайта, а также иные
                действия, подтверждающие намерения Пользователя использовать Сайт</p>

            <p>2.4. Пользователь вправе принять настоящее Соглашение, если: Пользователь имеет право на пользование
                Сайтом согласно действующему законодательству страны постоянного или временного проживания Пользователя;
                и/или если Пользователь обладает достаточным объемом прав для заключения Соглашения с Администрацией
                сайта и другими Пользователями.</p>

            <p>2.5. Принимая условия настоящего Соглашения, Пользователь гарантирует Администрации сайта, что:</p>

            <p>2.5.1. заключает Соглашение добровольно, при этом: а) полностью ознакомился с условиями Соглашения, б)
                полностью понимает значение и последствия своих действий в отношении заключения и исполнения Соглашения;
            </p>

            <p>2.5.2. обладает всеми правами и полномочиями, необходимыми для заключения и исполнения Соглашения.</p>

            <p>2.6. С помощью сайта осуществляется продвижение в социальных сетях, указанных на странице
                <a href="#"> https://smmprime.com/services:</a></p>

            <p>2.6.1. Возможно продвижение в социальных сетях по следующим показателям (если применимо для конкретной
                социальной сети):</p>

            <p>— Продвижение сообщества (увеличение числа подписчиков, лайков, репостов на записи, фото и видео,
                уникальных посетителей, просмотров сообщества, просмотров видео, увеличение голосов в опросы и др.
                социальной активности) — Продвижение аккаунта (увеличение числа подписчиков, лайков, репостов на записи,
                фото и видео, уникальных посетителей, просмотров сообщества, просмотров видео, увеличение голосов в
                опросы и др. социальной активности) — Продвижение записи (увеличение числа лайков, репостов и др.
                социальной активности) — Продвижение фото (увеличение числа лайков и др. социальной активности) —
                Продвижение видео (увеличение числа лайков, просмотров и др. социальной активности) — Продвижение опроса
                (увеличение числа голосов в ответы, лайков, репостов и др. социальной активности) — Продвижение другого
                вида контента, если применимо для конкретной социальной сети.</p>

            <p>2.7. Исключительные права на сайт принадлежат администрации сайта на правах собственности.</p>

            <p>2.8. Аккаунты, сообщества, записи и прочее могут быть заблокированы в результате продвижения социальными
                сетями. Социальные сети могут отменить, уменьшить все числовые показатели, увеличенные в результате
                продвижения с использованием сайта (или применить любые иные санкции), и администрация сайта за это
                ответственности не несет.


            </p>
        </div>

        <div class="text-page__item">
            <div class="text-center">
                <h2>2. Общие положения</h2>
            </div>
            <p>3.1. Пользователь обязуется соблюдать действующее законодательство при использовании Сайта.</p>

            <p>3.2. Пользователь самостоятельно использует Сайт для получения в нем информации и доступного функционала.
            </p>

            <p>3.3. Пользователь соглашается с тем, что Администрация сайта не обязана контролировать содержание любых
                сообщений или данных, или информации, созданной, полученной или доступной через Сайт. Пользователь несет
                ответственность за содержание своих сообщений и контента и может быть привлечен к юридической
                ответственности за их содержание.</p>

            <p>3.4. Пользователь соглашается с тем, что Администрация сайта оставляет за собой право устанавливать
                ограничения в использовании Сайта как в целом, так и в части, для всех/некоторых категорий
                Пользователей, что зависит в частности, но не ограничиваясь от территории нахождения Пользователя,
                языка, на котором предоставляется Сайт, предельного количества и размера сообщений, которые могут быть
                отправлены или получены одним Пользователем.</p>

            <p>3.5. В случае необходимости проведения профилактических работ Администрация оставляет за собой право
                отключать прямой доступ к Сайту на необходимый период времени.</p>

            <p>3.6. Пользователь принимает условие, что Администрация сайта не контролирует сторонние Интернет-ресурсы,
                ссылки на которые размещены на Сайте, не просматривает такие Интернет-ресурсы, и не несет
                ответственности перед кем бы то ни было за информацию, продукты или услуги, которые могут
                предоставляться на таких Интернет-ресурсах.</p>

            <p>3.7. Пользователь обязуется:</p>

            <p>3.7.1. Не допускать любых противоправных действий, в том числе тех, которые будут представлять собой
                уголовное преступление, приведут к административной или гражданской ответственности, или поощрять любые
                противоправные действия;</p>

            <p>3.7.2. Не распространять какое-либо вредоносное ПО, которое повреждает, препятствует, перехватывают или
                экспроприируют любые программные или аппаратные системы, данные или личную информацию;</p>

            <p>3.7.3. Предоставлять запрашиваемую персональную информацию о себе при создании Учетной записи.
                Пользователь подтверждает, что такая информация и данные являются актуальными и полными.</p>

            <p>3.7.4. Не размещать ложную идентифицирующую информацию на Сайте или создавать Учетную запись от имени
                другого лица без надлежащего разрешения;</p>

            <p>3.7.5. Не создавать Учетную запись без разрешения Администрации сайта в случае блокировки предыдущей
                Учетной записи;</p>

            <p>3.7.6. Указывать точную контактную и платежную информацию и своевременно обновлять ее;</p>

            <p>3.7.7. Не передавать свой пароль, не предоставлять доступ к Личному кабинету посторонним лицам и не
                осуществлять какие-либо иные действия, которые могут угрожать безопасности Администрации сайта и другим
                Пользователям;</p>

            <p>3.7.8. Сообщить Администрации сайта о любых известных ему ситуациях, которые несут потенциальную угрозу
                для безопасного функционирования Сайта;</p>

            <p>3.7.9. Незамедлительно уведомить Администрацию сайта о любом случае несанкционированного использования
                его Учетной записи, а также об известных ему случаях компрометации (утери конфиденциальности) пароля,
                используемого Пользователем для получения доступа к своей Учетной записи. До момента, когда
                Администрация сайта получит от Пользователя сообщение о несанкционированном использовании его Учетной
                записи либо о компрометации пароля, ответственность за все действия, которые производятся с
                использованием соответствующей учетной записи, несет Пользователь.</p>

            <p>3.8. Администрация сайта вправе размещать рекламу на Сайте.
            </p>
        </div>
    </div>
</section>