<section class="text-page inside-page">
    <div class="container">
        <div class="text-page__item">
            <h1>Политика Конфиденциальности</h1>

            <p>1. Присоединяясь к настоящему Договору и оставляя свои данные на Сайте SММsphere.com , (далее — Сайт),
                путем заполнения полей форм онлайн-заявок, Пользователь:<br />
                — подтверждает, что все указанные им данные принадлежат лично ему,</p>

            <p>— подтверждает и признает, что им внимательно в полном объеме прочитано данный Договор и условия
                обработки Администрацией Сайта его персональных данных, указываемых им в полях онлайн-заявок, текст
                соглашения и условия обработки персональных данных ему понятны;</p>

            <p>— дает согласие на обработку Администрацией Сайта предоставляемых в составе информации персональных
                данных в целях заключения между ним и Администрацией Сайта настоящего Договора, а также его последующего
                исполнения;</p>

            <p>— выражает согласие с условиями обработки персональных данных без оговорок и ограничений, а именно с
                совершением Администрацией Сайта действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от
                27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует
                свободно, по своей волей и в своих интересах.</p>

            <p>2. Администрация Сайта использует персональные данные Пользователя для:<br />
                — обработки персональных данных, которые необходимы для предоставления и оказания услуг Пользователю;
            </p>

            <p>— создания, анализа и мониторинга клиентской базы;</p>

            <p>— информирования Пользователя о конкурсах и рекламных акциях;</p>

            <p>— рассылки новостей Сайта Пользователю;</p>

            <p>— информирования Пользователя о новых продуктах и услугах;</p>

            <p>— информирования об акциях и специальных предложениях;</p>

            <p>— уведомления Пользователя о различных событиях.</p>
        </div>

        <div class="text-page__item">
            <p>3. Администрация Сайта вправе обрабатывать персональные данные посредством внесения их в электронные
                базы
                данных, включения в списки (реестры) и внутренние отчетные формы. Обработка персональных данных
                может
                быть, как автоматизированная, так и без использования средств автоматизации.</p>
            <p>4. Принимая условия настоящего Договора, Пользователь также соглашается с получением информационной
                и(или) рекламной рассылки по телефону (в формате смс- сообщений) и/или по электронной почте от
                Администрации Сайта.</p>
            <p>5. Пользователь, соглашаясь с настоящим Договором, дает свое бессрочное безусловное согласие Сервису
                на
                обработку своих персональных данных, в том числе посредством сбора, записи, систематизации,
                накопления,
                хранения, использования, осуществляемую с использованием средств автоматизации, в том числе в
                информационно-телекоммуникационных сетях.</p>
        </div>
    </div>
</section>