<section class="text-page inside-page">
    <div class="container">
        <div class="text-page__item">
            <h2>Правила и условия</h2>
            <p>Цены и условия услуг SMMsphere могут быть в любой момент изменены без предварительного уведомления.
                Актуальные условия изложены в описании услуг. Мы никогда не даем гарантии по скорости и срокам
                выполнения услуг. Все изложенные в описании числа носят лишь статистический характер. Получая информацию
                о сроках вы узнаете лишь нашу примерную оценку времени.</p>
        </div>

        <div class="text-page__item">
            <h2>Отказ от ответственности</h2>
            <p>SMMsphere не несет ответственности за любой ущерб, принесенный вам или вашему бизнесу. Во время нашей
                накрутки Инстаграм и других социальных сетей обычно не применяют санкции к аккаунтам, но если это
                произойдет, мы не будем нести ответственность.</p>
        </div>

        <div class="text-page__item">
            <h2>Обслуживание</h2>
            <p>Мы гарантируем выполнение обязательств по выбранной накрутке, но не гарантируем, что новые подписчики
                будут с вами взаимодействовать или отвечать любым другим ожиданиям. Мы стремимся сделать наиболее
                привлекательную накрутку, но не гарантируем что 100% аккаунтов будет иметь аватар, описание и публикации
                (кроме случаев, где указаны конкретные параметры подписчиков)</p>
            <p>— Вы соглашаетесь с тем, что не будете добавлять запрещенные материалы, включая наготу, наркотические
                вещества, оружие, призывы к суициду или предложения по накрутке</p>

            <p>— Во время накрутки по большинству услуг мы ориентируемся на имеющееся в инстаграм число подписчиков,
                лайков, просмотров или комментариев. Поэтому, во время накрутки вы не должны использовать какие-либо еще
                способы увеличения показателей на данной странице</p>

            <p>— После запуска накрутку невозможно отменить</p>

            <p>— Возврат средств не производится, если заказ был некорректным (неверная ссылка)</p>

            <p>— Во время накрутки подписчиков аккаунт должен быть открыт, если иное не оговорено в условиях выбранной
                накрутки</p>

            <p>— Все статусы и дополнительная информация о заказах может быть неактуальной и обновляться с задержкой,
                отследить актуальные показатели можно на раскручиваемой странице в Инстаграме</p>

            <p>— Мы не оказываем поддержку и консультации по вопросам накрутки. Если вы не разбираетесь в тонкостях
                этого процесса — воспользуйтесь услугами специалиста или задавайте вопросы на форуме</p>

            <p>— Мы оставляем за собой право не выполнять накрутку и не возвращать средства в случае нарушения вами
                наших условий</p>

            <p>— Мы можем в любой момент отказать вам в обслуживании и заблокировать доступ к сайту без объяснения
                причин. Если у вас останутся вопросы или претензии, вы можете сообщить их на нашу почту</p>

            <p> — Гарантии на подписчиков нет, то есть за все дальнейшие списания со стороны Инстаграма после накрутки
                сервис ответсвенности не несет и ничего не восстанавливает</p>

            <p>— Гарантий в виде докрутки из-за каких либо списаний (как в процессе накрутки, так и после) на услуги
                сервиса нет, если иное не указано в описании к соответсвующей позиции</p>

            <p>— Гарантия работает только в том случае, если накрутка аккаунта/страницы/прочего осуществлявлялась только
                позицией, для которой предполагается гарантия. Если накрутка осуществлялась несколькими позициями,
                включая позицию без гарантии или если число подписчиков снизилось ниже цифры, которая была перед началом
                накрутки подписчиков с гарантией, то в таком случае гарантия для данного аккаунта аннулируется</p>

            <p>— Гарантия = Восстановление. То есть, мы восстанавливаем списания в течение срока, указанного в гарантии
            </p>

            <p>— Накрутка Вконтакте осуществляется только на открытые группы/страницы, которые не нарушают правила
                Вконтакте (при попытке накрутки на запрещенные материалы, накрутка останавливается, средства не
                возвращаются), никакие претензии по поводу скорости, списаний, банов и прочего не принимаются, Мы не
                несем никакой ответственности за накрутку и ее последствия</p>

            <p>— Условия могут изменяться в любой момент без уведомления. Каждый раз, совершая заказ, вы даете согласие,
                что изучили актуальные условия и согласны с ними</p>
        </div>

        <div class="text-page__item">
            <h2>Политика возврата</h2>
            <ul>
                <li>— Возврат может быть осуществлен в случае возникновения веских причин.</li>
                <li>— Каждый случай рассматривается отдельно.</li>
                <li>— Возврат осуществляется лишь на ту же платежную систему, через которую были начислены средства, с
                    комиссией в 30%</li>
            </ul>
        </div>
    </div>
</section>