<section class="services-list">
    <div class="card">
        <div class="services-list__item card-body">
            <div class="services-list__header">
                <div class="img"><img src="../img/ico/user_big.svg" alt="" /></div>
                <div class="tit">
                    Подписчики
                    <h3>"Супер Эконом"</h3>
                </div>
            </div>

            <div class="services-list__body">
                <div class="price">
                    <div class="price__value">
                        <div class="price__val">0.46</div>
                        <div class="price__ps"><sup><img src="../img/ico/rub.svg" alt="₽"/></sup></div>
                    </div>
                    <div class="price__number">за 1 шт.</div>
                </div>
                <div class="services-list__description">
                    <p>Аккаунты со всего мира с реальными публикациями, аватарками и именами.</p>
                </div>
            </div>

            <div class="services-list__footer">
                <a href="#" class="btn">Заказать</a>
                <button type="button" class="btn btn-gray" data-toggle="modal" data-animation="bounce"
                    data-target=".modal--service">Подробнее</button>
            </div>
        </div>
    </div><!-- .card -->
    <div class="card">
        <div class="services-list__item card-body">
            <div class="services-list__header">
                <div class="img"><img src="../img/ico/user_big.svg" alt="" /></div>
                <div class="tit">
                    Подписчики
                    <h3>"Эконом"</h3>
                </div>
            </div>

            <div class="services-list__body">
                <div class="price">
                    <div class="price__value">
                        <div class="price__val">0.46</div>
                        <div class="price__ps"><sup><img src="../img/ico/rub.svg" alt="₽"/></sup></div>
                    </div>
                    <div class="price__number">за 1 шт.</div>
                </div>
                <div class="services-list__description">
                    <p>Аккаунты со всего мира с реальными публикациями, аватарками и именами.</p>
                </div>
            </div>

            <div class="services-list__footer">
                <a href="#" class="btn">Заказать</a>
                <button type="button" class="btn btn-gray" data-toggle="modal" data-animation="bounce"
                    data-target=".modal--service">Подробнее</button>
            </div>
        </div>
    </div><!-- .card -->

    <div class="card">
        <div class="services-list__item card-body">
            <div class="services-list__header">
                <div class="img"><img src="../img/ico/user_big.svg" alt="" /></div>
                <div class="tit">
                    Подписчики
                    <h3>"Стандарт"</h3>
                </div>
            </div>

            <div class="services-list__body">
                <div class="price">
                    <div class="price__value">
                        <div class="price__val">0.46</div>
                        <div class="price__ps"><sup><img src="../img/ico/rub.svg" alt="₽"/></sup></div>
                    </div>
                    <div class="price__number">за 1 шт.</div>
                </div>
                <div class="services-list__description">
                    <p>Аккаунты со всего мира с реальными публикациями, аватарками и именами.</p>
                </div>
            </div>

            <div class="services-list__footer">
                <a href="#" class="btn">Заказать</a>
                <button type="button" class="btn btn-gray" data-toggle="modal" data-animation="bounce"
                    data-target=".modal--service">Подробнее</button>
            </div>
        </div>
    </div><!-- .card -->

    <div class="card">
        <div class="services-list__item card-body">
            <div class="services-list__header">
                <div class="img"><img src="../img/ico/user_big.svg" alt="" /></div>
                <div class="tit">
                    Подписчики
                    <h3>"Премиум"</h3>
                </div>
            </div>

            <div class="services-list__body">
                <div class="price">
                    <div class="price__value">
                        <div class="price__val">0.46</div>
                        <div class="price__ps"><sup><img src="../img/ico/rub.svg" alt="₽"/></sup></div>
                    </div>
                    <div class="price__number">за 1 шт.</div>
                </div>
                <div class="services-list__description">
                    <p>Аккаунты со всего мира с реальными публикациями, аватарками и именами.</p>
                </div>
            </div>

            <div class="services-list__footer">
                <a href="#" class="btn">Заказать</a>
                <button type="button" class="btn btn-gray" data-toggle="modal" data-animation="bounce"
                    data-target=".modal--service">Подробнее</button>
            </div>
        </div>
    </div><!-- .card -->

    <div class="card">
        <div class="services-list__item card-body">
            <div class="services-list__header">
                <div class="img"><img src="../img/ico/user_big.svg" alt="" /></div>
                <div class="tit">
                    Подписчики
                    <h3>"Эконом"</h3>
                </div>
            </div>

            <div class="services-list__body">
                <div class="price">
                    <div class="price__value">
                        <div class="price__val">0.46</div>
                        <div class="price__ps"><sup><img src="../img/ico/rub.svg" alt="₽"/></sup></div>
                    </div>
                    <div class="price__number">за 1 шт.</div>
                </div>
                <div class="services-list__description">
                    <p>Аккаунты со всего мира с реальными публикациями, аватарками и именами.</p>
                </div>
            </div>

            <div class="services-list__footer">
                <a href="#" class="btn">Заказать</a>
                <button type="button" class="btn btn-gray" data-toggle="modal" data-animation="bounce"
                    data-target=".modal--service">Подробнее</button>
            </div>
        </div>
    </div><!-- .card -->

    <div class="card">
        <div class="services-list__item card-body">
            <div class="services-list__header">
                <div class="img"><img src="../img/ico/user_big.svg" alt="" /></div>
                <div class="tit">
                    Подписчики
                    <h3>"Стандарт"</h3>
                </div>
            </div>

            <div class="services-list__body">
                <div class="price">
                    <div class="price__value">
                        <div class="price__val">0.46</div>
                        <div class="price__ps"><sup><img src="../img/ico/rub.svg" alt="₽"/></sup></div>
                    </div>
                    <div class="price__number">за 1 шт.</div>
                </div>
                <div class="services-list__description">
                    <p>Аккаунты со всего мира с реальными публикациями, аватарками и именами.</p>
                </div>
            </div>

            <div class="services-list__footer">
                <a href="#" class="btn">Заказать</a>
                <button type="button" class="btn btn-gray" data-toggle="modal" data-animation="bounce"
                    data-target=".modal--service">Подробнее</button>
            </div>
        </div>
    </div><!-- .card -->
</section>