<div class="services-header">
    <form>
        <div class="services-header__row">
            <div class="form-group form-group--outline">
                <label>Площадка</label>
                <div class="select select--icon">
                    <select class="selectpicker platform-select" name="platformSelect">
                        <option data-icon="ico-instagram" valute="instagram">Instagram</option>
                        <option data-icon="ico-telegram" valute="telegram">Telegram</option>
                        <option data-icon="ico-twitch" valute="twitch">Twitch</option>
                        <option data-icon="ico-twitter" valute="twitter">Twitter</option>
                        <option data-icon="ico-youTube" valute="youTube">YouTube</option>
                        <option data-icon="ico-tumblr" valute="tumblr">Tumblr</option>
                        <option data-icon="ico-discord" valute="discord">Discord</option>
                        <option data-icon="ico-vkontakte" valute="vkontakte">Vkontakte</option>
                        <option data-icon="ico-snapchat" valute="snapchat">Snapchat</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group--outline">
                <label>Тип услуги</label>
                <div class="select select--icon">
                    <select class="selectpicker service-type" name="serviceType">
                        <option data-icon="ico-service-ico" valute="Подписчики">Подписчики</option>
                        <option data-icon="ico-service-heart" valute="Instagram">Instagram</option>
                        <option data-icon="ico-service-video" valute="YouTube">YouTube</option>
                        <option data-icon="ico-service-eye2" valute="Twitch">Twitch</option>
                        <option data-icon="ico-service-dashboard" valute="Discord">Discord</option>
                        <option data-icon="ico-service-ico" valute="Подписчики">Подписчики</option>
                        <option data-icon="ico-service-heart" valute="Instagram">Instagram</option>
                        <option data-icon="ico-service-video" valute="YouTube">YouTube</option>
                        <option data-icon="ico-service-eye2" valute="Twitch">Twitch</option>
                        <option data-icon="ico-service-dashboard" valute="Discord">Discord</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>