<div class="reviews-item">
    <div class="reviews-item__header reviews-user">
        <div class="reviews-user__img img"><img src="../img/ico/user-reviews.svg" alt="" /></div>
        <div class="reviews-user__info">
            <div class="reviews-user__name">Екатерина</div>
            <div class="reviews-user__date">месяц назад</div>
            <div class="reviews-user__rate">
                <div class="star-row">
                    <div class="star img"><img src="../img/ico/star.svg" alt=""/></div>
                    <div class="star img"><img src="../img/ico/star.svg" alt=""/></div>
                    <div class="star img"><img src="../img/ico/star.svg" alt=""/></div>
                    <div class="star img"><img src="../img/ico/star.svg" alt=""/></div>
                    <div class="star img"><img src="../img/ico/star.svg" alt=""/></div>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews-item__body">
        <p>Хороший сайт, заказал по 100 лайков, всё готово, на постах моментально +100. Буду советовать знакомым)</p>
    </div>
</div>