<div class="payment-price">
    <div class="admin-tit">
        <div class="img"><img src="../img/ico/sum.svg" alt="" /></div>
        <h3>Сумма пополнения</h3>
    </div>

    <div class="balance-sum">
        <div class="form-group form-group--outline">
            <input class="form-control balance-sum__input" type="text" value="" placeholder="Введите сумму ₽">
        </div>
        <ul class="balance-sum__list">
            <li>
                <input type="button" value="500" class="balance-sum__value active">
            </li>
            <li>
                <input type="button" value="1500" class="balance-sum__value">
            </li>
            <li>
                <input type="button" value="2000" class="balance-sum__value">
            </li>
            <li>
                <input type="button" value="5000" class="balance-sum__value">
            </li>
        </ul>
        <button type="button" class="btn btn-100">Пополнить</button>
    </div>
</div>