<div class="payment-method">
    <div class="admin-tit">
        <div class="img"><img src="../img/ico/card.svg" alt="" /></div>
        <h3>Платежный метод</h3>
    </div>
    <div class="payment-method__list">
        <div class="payment-method__radio">
            <input type="radio" id="r-card" name="paymentMethod" checked>
            <label for="r-card" class="method">
                <span class="img"><img src="../img/payment-method/credit-card.svg" alt=""></span>
                <div class="info">
                    <span class="tit">Банковская карта</span>
                    <p>Комиссия 0%</p>
                </div>
            </label>
            <span class="radio-mark"></span>
        </div>
        <div class="payment-method__radio">
            <input type="radio" id="r-iomoney" name="paymentMethod">
            <label for="r-iomoney" class="method">
                <span class="img"><img src="../img/payment-method/iomoney.svg" alt=""></span>
                <div class="info">
                    <span class="tit">ЮMoney</span>
                    <p>Комиссия 0%</p>
                </div>
            </label>
            <span class="radio-mark"></span>
        </div>
        <div class="payment-method__radio">
            <input type="radio" id="r-qiwi" name="paymentMethod">
            <label for="r-qiwi" class="method">
                <span class="img"><img src="../img/payment-method/qiwi.svg" alt=""></span>
                <div class="info">
                    <span class="tit">QIWI</span>
                    <p>Комиссия 0%</p>
                </div>
            </label>
            <span class="radio-mark"></span>
        </div>
        <div class="payment-method__radio">
            <input type="radio" id="r-bank" name="paymentMethod">
            <label for="r-bank" class="method">
                <span class="img"><img src="../img/payment-method/bank.svg" alt=""></span>
                <div class="info">
                    <span class="tit">СберPay</span>
                    <p>Комиссия 0%</p>
                </div>
            </label>
            <span class="radio-mark"></span>
        </div>
    </div>
    <button type="button" class="btn btn-100">Пополнить</button>
</div>