<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__left-side">
                @@include('../logo/_logo.html')
                
                <p>Популярность в соц сетях доступна каждому, всего в 2 клика! Новые подписчики, лайки, комментарии, репосты и просмотры - всё это мы собрали в один удобный сервис - Smmsphere</p>
            </div>
            <div class="footer__right-side">
                <div class="item">
                    <div class="tit">Навигация</div>
                    <ul>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="tit">Сообщество</div>
                    <ul>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Правила сервиса</a></li>
                        <li><a href="#">Публичная оферта</a></li>
                        <li><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="tit">Принимаем к оплате</div>
                    <ul class="ps">
                        <li><div class="img"><img src="../img/ps/qiwi.svg" alt=""/></div></li>
                        <li><div class="img"><img src="../img/ps/cart.svg" alt=""/></div></li>
                        <li><div class="img"><img src="../img/ps/webmoney.svg" alt=""/></div></li>
                        <li><div class="img"><img src="../img/ps/iomoney.svg" alt=""/></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright footer__item">© 2021 Все права защищены</div>
    </div>
</footer>