<div class="contacts-description">
    <div class="section-title">
        <div class="pre-title">Контакты</div>
        <h1>Связаться с нами</h1>
        <p>Наша главная задача — это комплексные услуги для продвижения в популярных социальных сетях, мессенеджерах и медиа.</p>
    </div>
    <div class="contacts__list">
        <div class="contacts__item">
            <div class="img"><img src="../img/ico/mail.svg" alt=""/></div>
            <div class="info">
                <div class="tit">E-Mail:</div>
                <div class="value">
                    <a href="mailto:support@smmsphere.com">support@smmsphere.com</a>
                </div>
            </div>
        </div>
        <div class="contacts__item">
            <div class="img"><img src="../img/ico/time.svg" alt=""/></div>
            <div class="info">
                <div class="tit">Время работы:</div>
                <div class="value">
                    <p>11:00 - 21:00, без выходных</p>
                </div>
            </div>
        </div>
        <div class="contacts__item">
            <div class="img"><img src="../img/ico/local.svg" alt=""/></div>
            <div class="info">
                <div class="tit">Мы в Telegram:</div>
                <div class="value">
                    <div class="img"><img src="../img/platform-ico/telegram.svg" alt=""/></div>
                </div>
            </div>
        </div>
    </div>
</div>