<div class="contacts-form">
    <div class="section-title">
        <div class="pre-title">Есть вопросы?</div>
        <h1>Напишите нам</h1>
        <p>Пишите нам на Email, в онлайн чат на сайте <br /> или в тикет-систему в личном кабинете.</p>
    </div>

    <form class="form" data-form="contacts">
        <div class="contacts-form__row">
            <div class="form-group form-group--outline">
                <div class="group-validation">
                    <input class="form-control form-control--gray form-required" type="text" placeholder="Ваше имя*">
                </div>
            </div>
            <div class="form-group form-group--outline">
                <div class="group-validation">
                    <input class="form-control form-control--gray form-required" type="text" placeholder=" E-mail">
                </div>
            </div>
        </div>

        <div class="form-group form-group--outline">
            <div class="group-validation">
                <textarea class="form-control form-control--gray form-required" placeholder="Введите свое сообщение *"></textarea>
            </div>
        </div>

        <button type="button" class="btn form-btn form-submit">Отправить</button>
    </form>
</div>