<nav class="menu">
    <div class="trigger-menu">
        <div class="hamburger-menu">
            <div class="hamburger-menu__bar"></div>
            <div class="hamburger-menu__bar"></div>
            <div class="hamburger-menu__bar"></div>
        </div>
    </div>
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link active" href="#">Главная</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">Услуги</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">Отзывы</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">FAQ</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
        </li>
    </ul>
</nav>