<tr class="tr-body">
    <td>
        <div class="table-tit">05.01.2022</div>
    </td>
    <td>
        <div for="r-card" class="method">
            <span class="img"><img src="../img/payment-method/credit-card.svg" alt=""></span>
            <span class="tit">Банковская карта</span>
        </div>
    </td>
    <td>
        <div class="table-tit">500 ₽</div>
    </td>
</tr>

<tr class="td-spacer"></tr>

<tr class="tr-body">
    <td>
        <div class="table-tit">05.01.2022</div>
    </td>
    <td>
        <div for="r-card" class="method">
            <span class="img"><img src="../img/payment-method/iomoney.svg" alt=""></span>
            <span class="tit">ЮMoney</span>
        </div>
    </td>
    <td>
        <div class="table-tit">200 ₽</div>
    </td>
</tr>

<tr class="td-spacer"></tr>

<tr class="tr-body">
    <td>
        <div class="table-tit">05.01.2022</div>
    </td>
    <td>
        <div for="r-card" class="method">
            <span class="img"><img src="../img/payment-method/qiwi.svg" alt=""></span>
            <span class="tit">QIWI</span>
        </div>
    </td>
    <td>
        <div class="table-tit">500 ₽</div>
    </td>
</tr>

<tr class="td-spacer"></tr>

<tr class="tr-body">
    <td>
        <div class="table-tit">05.01.2022</div>
    </td>
    <td>
        <div for="r-card" class="method">
            <span class="img"><img src="../img/payment-method/bank.svg" alt=""></span>
            <span class="tit">СберPay</span>
        </div>
    </td>
    <td>
        <div class="table-tit">1 500 ₽</div>
    </td>
</tr>

<tr class="td-spacer"></tr>