<div class="pp-item pp-referrals pp-width">
    <div class="admin-tit">
        <div class="img"><img src="../img/ico/link.svg" alt="" /></div>
        <h3>Мои рефералы</h3>
    </div>
    
    <div class="table-inline table">
        <table>
            <tr class="tr-tit">
                <th>
                    <div class="table-tit">Пользователь</div>
                </th>
                <th>
                    <div class="table-tit">Регистрации</div>
                </th>
                <th>
                    <div class="table-tit">Деньги, ₽</div>
                </th>
            </tr>

            <tr class="th-spacer"></tr>

            <tr class="tr-body">
                <td colspan="3" class="td-null">
                    <div class="table-tit">Здесь пока ничего нет</div>
                </td>
            </tr>
            
            <tr class="th-spacer"></tr>

            <tr class="tr-body">
                <td>
                    <div class="table-tit">UserName</div>
                </td>
                <td>
                    <div class="table-tit">2</div>
                </td>
                <td>
                    <div class="table-tit">100 ₽</div>
                </td>
            </tr>
            
            <tr class="td-spacer"></tr>            
        
        </table>
    </div>
</div>