<div class="pp-item pp-statistics pp-width">
    <div class="admin-tit">
        <div class="img"><img src="../img/ico/link.svg" alt="" /></div>
        <h3>Моя статистика</h3>
    </div>

    <div class="pp-statistics__row">
        <div class="pp-statistics__item">
            <div class="pp-statistics__info">
                <div class="tit">Рефералы</div>
                <div class="value">0</div>
            </div>
            <div class="img" style="background: linear-gradient(0deg, rgba(244, 190, 94, 0.1), rgba(244, 190, 94, 0.1)), #FFFFFF;"><img src="../img/ico/user-stats.svg" alt=""/></div>
        </div>
        <div class="pp-statistics__item">
            <div class="pp-statistics__info">
                <div class="tit">На счету</div>
                <div class="value">0</div>
            </div>
            <div class="img" style="background: linear-gradient(0deg, rgba(94, 129, 244, 0.1), rgba(94, 129, 244, 0.1)), #FFFFFF;"><img src="../img/ico/rub-stats.svg" alt=""/></div>
        </div>
    </div>

    <div class="table-inline table">
        <table>
            <tr class="tr-tit">
                <th>
                    <div class="table-tit">Дата и время</div>
                </th>
                <th>
                    <div class="table-tit">Регистрации</div>
                </th>
                <th>
                    <div class="table-tit">Деньги, ₽</div>
                </th>
            </tr>

            <tr class="th-spacer"></tr>

            <tr class="tr-body">
                <td>
                    <div class="table-tit">05.01.2022</div>
                </td>
                <td>
                    <div class="table-tit">2</div>
                </td>
                <td>
                    <div class="table-tit">100 ₽</div>
                </td>
            </tr>
            
            <tr class="td-spacer"></tr>            
        
        </table>
    </div>
</div>