<div class="faq-tabs tabs">
    <ul class="tabs-nav" role="tablist">
        <li class="tabs-nav__item">
            <a class="tabs-nav__link active" data-toggle="tab" href="#faq-1" role="tab" aria-selected="true">Как правильно заполнить форму при создании заказа?</a>
        </li>
        <li class="tabs-nav__item">
            <a class="tabs-nav__link" data-toggle="tab" href="#faq-2" role="tab" aria-selected="false">Как работает сервис и как выполняются заказы?</a>
        </li>
        <li class="tabs-nav__item">
            <a class="tabs-nav__link" data-toggle="tab" href="#faq-3" role="tab" aria-selected="false">Как оформить крупный оптовый заказ и получить скидку?</a>
        </li>
        <li class="tabs-nav__item">
            <a class="tabs-nav__link" data-toggle="tab" href="#faq-4" role="tab" aria-selected="false">Мой профиль должен быть открытым?</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="faq-1" role="tabpanel">
            <div class="tab-content__item">
                <h3>Как работает сервис и как выполняются заказы?</h3>
                <p>Мы предлагаем вам подписчиков как из CPA сетей, так и подписчиков с рекламы, привлеченных через
                    социальные сети. Подписчики CPA добавляются в группу или подписываются на страницу за денежное
                    вознаграждение. Наш сервис работает только с качественными источниками трафика.</p>
            </div>

        </div>
        <div class="tab-pane" id="faq-2" role="tabpanel">
            <div class="tab-content__item">
                <h3>Как работает сервис и как выполняются заказы?</h3>
                <p>Мы предлагаем вам подписчиков как из CPA сетей, так и подписчиков с рекламы, привлеченных через
                    социальные сети. Подписчики CPA добавляются в группу или подписываются на страницу за денежное
                    вознаграждение. Наш сервис работает только с качественными источниками трафика.</p>
            </div>
        </div>
        <div class="tab-pane" id="faq-3" role="tabpanel">
            <div class="tab-content__item">
                <h3>Как работает сервис и как выполняются заказы?</h3>
                <p>Мы предлагаем вам подписчиков как из CPA сетей, так и подписчиков с рекламы, привлеченных через
                    социальные сети. Подписчики CPA добавляются в группу или подписываются на страницу за денежное
                    вознаграждение. Наш сервис работает только с качественными источниками трафика.</p>
            </div>
        </div>
        <div class="tab-pane" id="faq-4" role="tabpanel">
            <div class="tab-content__item">
                <h3>Как работает сервис и как выполняются заказы?</h3>
                <p>Мы предлагаем вам подписчиков как из CPA сетей, так и подписчиков с рекламы, привлеченных через
                    социальные сети. Подписчики CPA добавляются в группу или подписываются на страницу за денежное
                    вознаграждение. Наш сервис работает только с качественными источниками трафика.</p>
            </div>
        </div>
    </div>
</div>