<div class="quick-order__list">
    <div class="radio">
        <input type="radio" id="r-instagtam" name="platform" checked="">
        <label for="r-instagtam">
            <span class="img"><img src="../img/platform-ico/instagram.svg" alt=""></span>
            <span class="tit">Instagram</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    
    <div class="radio">
        <input type="radio" id="r-telegram" name="platform">
        <label for="r-telegram">
            <span class="img"><img src="../img/platform-ico/telegram.svg" alt=""></span>
            <span class="tit">Telegram</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-twitch" name="platform">
        <label for="r-twitch">
            <span class="img"><img src="../img/platform-ico/twitch.svg" alt=""></span>
            <span class="tit">Twitch</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-twitter" name="platform">
        <label for="r-twitter">
            <span class="img"><img src="../img/platform-ico/twitter.svg" alt=""></span>
            <span class="tit">Twitter</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-youTube" name="platform">
        <label for="r-youTube">
            <span class="img"><img src="../img/platform-ico/youTube.svg" alt=""></span>
            <span class="tit">YouTube</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-tumblr" name="platform">
        <label for="r-tumblr">
            <span class="img"><img src="../img/platform-ico/tumblr.svg" alt=""></span>
            <span class="tit">Tumblr</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-discord" name="platform">
        <label for="r-discord">
            <span class="img"><img src="../img/platform-ico/discord.svg" alt=""></span>
            <span class="tit">Discord</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-vkontakte" name="platform">
        <label for="r-vkontakte">
            <span class="img"><img src="../img/platform-ico/vkontakte.svg" alt=""></span>
            <span class="tit">Vkontakte</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-snapchat" name="platform">
        <label for="r-snapchat">
            <span class="img"><img src="../img/platform-ico/snapchat.svg" alt=""></span>
            <span class="tit">Snapchat</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-snapchat--2" name="platform">
        <label for="r-snapchat--2">
            <span class="img"><img src="../img/platform-ico/snapchat.svg" alt=""></span>
            <span class="tit">Snapchat</span>
        </label>
        <span class="radio-mark"></span>
    </div>
</div>