<div class="quick-order__list">
    <div class="radio">
        <input type="radio" id="r-followers" name="service" checked="">
        <label for="r-followers">
            <span class="tit">Подписчики</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-like" name="service">
        <label for="r-like">
            <span class="tit">Лайки</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-comments" name="service">
        <label for="r-comments">
            <span class="tit">Комментарии</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-views" name="service">
        <label for="r-views">
            <span class="tit">Просмотры</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-save" name="service">
        <label for="r-save">
            <span class="tit">Сохранения</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-Reels" name="service">
        <label for="r-Reels">
            <span class="tit">Reels</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-IGTV" name="service">
        <label for="r-IGTV">
            <span class="tit">IGTV</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-translation" name="service">
        <label for="r-translation">
            <span class="tit">Трансляции</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-visits" name="service">
        <label for="r-visits">
            <span class="tit">Визиты</span>
        </label>
        <span class="radio-mark"></span>
    </div>
    <div class="radio">
        <input type="radio" id="r-history" name="service">
        <label for="r-history">
            <span class="tit">Истории</span>
        </label>
        <span class="radio-mark"></span>
    </div>
</div>