<div class="form-group form-group--outline">
    <label>Тариф</label>
    <div class="select">
        <select class="selectpicker" name="selectTafiffs" data-size="4">
            <option value="tariff-1">Подписчики "СуперЭконом": 0.23₽/1шт</option>
            <option value="tariff-2">Подписчики "Эконом": 0.23₽/1шт</option>
            <option value="tariff-3">Подписчики "Стандарт": 0.23₽/1шт</option>
            <option value="tariff-4">Подписчики "Премиум": 0.23₽/1шт</option>
        </select>
    </div>
</div>

<div class="form-group form-group--outline">
    <label>Ссылка</label>
    <input class="form-control" type="text" placeholder="https://www.instagram.com/">
</div>

<div class="form-group--row">
    <div class="form-group">
        <label>Количество</label>
        @@include('../counter/_counter.html')
    </div>
    <div class="form-group form-group--outline">
        <label>Стоимость</label>
        <input class="form-control form-control--center form-control--price" type="text" value="0 ₽">
    </div>
</div>

<div class="form-group form-group--outline">
    <label>Промокод</label>
    <div class="form-promocode">
        <input class="form-control" type="text" placeholder="Введите промокод">
        <button type="button" class="btn">Активировать</button>
    </div>
</div>

<button type="button" class="btn form-btn">Создать заказ</button>