<nav class="pagination">
    <div class="pagination__row">
        <a href="#" class="pagination-btn pagination-btn__prev">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6.70508 0.658203L0.517578 6.8457L0.130859 7.25L0.517578 7.6543L6.70508 13.8418L7.51367 13.0332L1.73047 7.25L7.51367 1.4668L6.70508 0.658203Z"
                    fill="#8181A5" />
            </svg>
            Назад
        </a>
        
        <ul class="pagination__list">
            <li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link pagination__link--active">2</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
        </ul>

        <a href="#" class="pagination-btn pagination-btn__next">
            Вперед
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.29492 0.658203L0.486328 1.4668L6.26953 7.25L0.486328 13.0332L1.29492 13.8418L7.48242 7.6543L7.86914 7.25L7.48242 6.8457L1.29492 0.658203Z"
                    fill="#8181A5" />
            </svg>
        </a>
    </div>
</nav>