<div class="support-null">
    <div class="img"><img src="../img/ico/chat-null.svg" alt="" /></div>
    <div class="tit">Нужна помощь? Напишите нам!</div>
    <div class="txt">
        <p>Для быстрой помощи, указывайте ваш номер заказа и ссылку для продвижения.</p>
        <p>Мы сможем вам помочь быстрее, если вы опишите свой вопрос или возникшую проблему, как можно подробнее.</p>
    </div>
    <button type="button" class="btn" data-toggle="modal" data-animation="bounce" data-target=".modal--new-message">Создать обращение</button>
</div>