<div class="about-description">
    <div class="about-description__row">
        <div class="text">
            <h2>Заработок с нашей партнерской программой</h2>
            <p>Только у нас можно заработать 50% по партнёрской программе. Простая регистрация и удобство использования дают вам возможность без стеснения делиться ссылкой на него – 50% от сумм пополнения и 50% баллов (без снятия с их счёта) будут ваша.</p>
        </div>
        <div class="img"><img src="../img/about-2.svg" alt=""/></div>
    </div>
</div>