<div class="service-functions">
    <div class="section-title section-title--center">
        <h2>Функции сервиса</h2>
    </div>

    <div class="service-functions__row grid col-4 gap-50 col-lg-2 col-xs-1">
        <div class="item">
            <div class="item-header">
                <div class="img"><img src="../img/ico/like.svg" alt=""/></div>
                <div class="tit">Мне нравится</div>
            </div>
            <div class="item-body">
                <p>Получайте лайки во всех популярных сетях абсолютно бесплатно. </p>
            </div>
        </div>
        <div class="item">
            <div class="item-header">
                <div class="img"><img src="../img/ico/user-check.svg" alt=""/></div>
                <div class="tit">Подписчики</div>
            </div>
            <div class="item-body">
                <p>Активные подписчики – залог успеха в любой соц. сети. </p>
            </div>
        </div>
        <div class="item">
            <div class="item-header">
                <div class="img"><img src="../img/ico/comment.svg" alt=""/></div>
                <div class="tit">Комментарии</div>
            </div>
            <div class="item-body">
                <p>Качественные комментарии и отзывы помогут вам в продвижении брендов и товаров</p>
            </div>
        </div>
        <div class="item">
            <div class="item-header">
                <div class="img"><img src="../img/ico/eye.svg" alt=""/></div>
                <div class="tit">Просмотры</div>
            </div>
            <div class="item-body">
                <p>Просмотры являются дополнительным показателем популярности. </p>
            </div>
        </div>
        
    </div>
</div>